HOST_BIND_ADDRESS=127.0.0.1
GHCR_OWNER=serogaq
API_PORT=8080
APP_URL=http://127.0.0.1:8080
POSTGRES_DB=telebezel
POSTGRES_USER=telebezel
TDLIB_PROXY_MODE=direct
TDLIB_PROXY_HOST=
TDLIB_PROXY_PORT=
TDLIB_PROXY_HTTP_ONLY=false
TDLIB_USE_TEST_DC=false
