.DS_Store
__pycache__/
*.pyc
.env
*.log
app/build/
app/.lock-waf_*
app/node_modules/
backend-api/.env
backend-api/*.sqlite
backend-api/*.sqlite3
backend-api/*.db
backend-api/telebezel_test*
backend-api/database/*.sqlite*
backend-api/bootstrap/cache/*.php
backend-api/storage/framework/cache/**
backend-api/vendor/
backend-api/node_modules/
backend-api/storage/logs/*
backend-tdlib/build/
backend-tdlib/analysis-build/
backend-tdlib/sanitizer-build/
secrets/*
!secrets/.gitkeep
!.env.example
