APP_NAME=TeleBezel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8080
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=telebezel
DB_USERNAME=telebezel
DB_PASSWORD=

CACHE_STORE=database
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=strict
FILESYSTEM_DISK=local

OCTANE_SERVER=frankenphp
TDLIB_BASE_URL=http://backend-tdlib:8081
TDLIB_INTERNAL_TOKEN=
